.dockerignore
.DS_Store
.git
.github
.gitignore
.vscode
*.log
*.log
**/.env
**/.prettierrc.json
**/*.md
**/dist
**/docs
**/eslint.config.mjs
**/node_modules
**/npm-debug.log
**/vitest.config.js
**/vitest.workspace.js
Dockerfile
